/*general*/
.breadcrumb-jsf{margin-left:3px}
/*login-soft*/
.login-title{color:#EEEEEE}
/*index*/
.home-logo{margin-top:15px}
.modal .control-label{margin-top:6px !important}
.filter-by{width:220px}
/*lock*/
.password-error{margin:10px 0 -10px 0}
/*cadastroPF*/
.obs{resize:none}
#gender{margin-top:7px}
#gender .radio{margin-right:4px}
#gender label{margin-right:33px}
#gender input{margin-left:-9px}
.p-info td{white-space:pre-line}
.pj-info{color:black}
.pf-info{color:black}
.modal-pessoa{padding:0px !important}
.modal-pessoa .portlet{margin-bottom:0px !important}
/*consultaPF*/
.expand-example{margin-top: 3px;display: inline-block;cursor: auto;width: 14px;height: 14px;background:url('../../../global/img/datatable-row-openclose.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0)}
/*cadastroPJ*/
#situacao{margin-top:3px}
#situacao .radio{margin-right:4px}
#situacao label{margin-right:33px}
#situacao input{margin-left:-9px}
/*cadastroPJUD*/
textarea{resize:none}
#executado{margin-top:7px}
#executado .radio{margin-right:4px}
#executado label{margin-right:33px}
#executado input{margin-left:-9px}
.button-visualizar{margin-top:6px}