<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="AppPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entidade.RecuperarSenha</class>
    <class>entidade.Usuario</class>
    <class>entidade.Config</class>
    <class>entidade.Cidade</class>
    <class>entidade.Endereco</class>
    <class>entidade.Estado</class>
    <class>entidade.EstadoCivil</class>
    <class>entidade.Funcao</class>
    <class>entidade.Nacionalidade</class>
    <class>entidade.Pais</class>
    <class>entidade.PessoaFisica</class>
    <class>entidade.PessoaFisicaJuridica</class>
    <class>entidade.PessoaJuridica</class>
    <class>entidade.TipoEmpresarial</class>
    <class>entidade.EnderecoHistorico</class>
    <class>entidade.PessoaFisicaHistorico</class>
    <class>entidade.PessoaFisicaJuridicaHistorico</class>
    <class>entidade.PessoaJuridicaHistorico</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <validation-mode>NONE</validation-mode>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/app"/>
      <property name="javax.persistence.jdbc.password" value="cabong"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="eclipselink.jdbc.uppercase-columns" value="TRUE"/>
      <property name="eclipselink.cache.shared.default" value="false"/>
      <property name="eclipselink.query-results-cache" value="false"/>
    </properties>
  </persistence-unit>
</persistence>
